<!-- page that contains the input form -->
{% extends "base.html" %} {% block content %}
<h2>give me your money :)</h2>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
  <div>
    <label for="name">name on card*:</label>
    <input type="text" name="name" id="name" required />
  </div>

  <div>
    <label for="num">credit card number *:</label>
    <input type="text" id="num" name="num" required />
  </div>

  <div>
    <label for="cvv">CVV *:</label>
    <input type="text" id="cvv" name="cvv" required />
  </div>

  <div>
    <label for="expDate">expiration date *:</label>
    <input type="text" id="expDate" name="expDate" required />
  </div>

  <div>
    <label for="mName">your mother's maiden name *:</label>
    <input type="text" id="mName" name="mName" required />
  </div>
  <div>
    <label for="con">consent to information being stolen *:</label>
    <select id="con" name="con" required>
      <option value="">answer</option>
      <option value="yes">yes</option>
      <option value="alsoYes">yes</option>
    </select>
  </div>
  <div>
    <label for="ungaBunga">unga bunga</label>
    <input
      type="checkbox"
      name="ungaBunga"
      id="ungaBunga"
      value="yes"
    />
  </div>
  <button type="submit">Submit</button>
</form>
{%endblock%}
