<!-- page that contains the input form -->
{% extends "base.html" %} {% block content %}
<h2>give me your money :)</h2>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">
  <div>
    <label for="name">name on card*:</label>
    <input type="text" name="name" id="name" placeholder="Firstname Lastname" required inputmode="text" pattern="[A-Za-z ]+"/>
  </div>

  <div>
    <label for="num">credit/debit card number *:</label>
    <input type="text" id="num" name="num" placeholder="xxxx xxxx xxxx xxxx" required pattern="[0-9 ]+"/>
  </div>

  <div>
    <label for="cvv">CVV *:</label>
    <input type="text" id="cvv" name="cvv" placeholder="123" required inputmode="numeric" pattern="\d{3}" maxlength="3"/>
  </div>

  <div>
    <label for="expDate">expiration date *:</label>
    <input type="text" id="expDate" name="expDate" placeholder="MM/YY" required pattern="\d{2}/\d{2}"/>
  </div>

  <div>
    <label for="mName">your mother's maiden name *:</label>
    <input type="text" id="mName" name="mName" placeholder="Firstname Lastname" required inputmode="text" pattern="[A-Za-z ]+"/>
  </div>
  <div>
    <label for="con">consent to information being stolen *:</label>
    <select id="con" name="con" required>
      <option value="">answer</option>
      <option value="yes">yes</option>
      <option value="alsoYes">yes</option>
    </select>
  </div>
  <div>
    <label for="ungaBunga">unga bunga</label>
    <input type="checkbox" name="ungaBunga" id="ungaBunga" value="yes" />
  </div>
  <button type="submit">Submit</button>
</form>
{%endblock%}
